 
 *{
    padding: 0px;
    margin: 9px;
    box-sizing: border-box;

 }
 #container{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
     font-family: 'Oxygen', sans-serif;
 }
 #box{
    width: 100%;  
    color: gray;
    display: flex;
   flex-direction: column;
   background-color: #e5ebf9;
 }
 .lis ul li{
    display: inline-block;
    margin-left: 10%;
    padding-right: 15px;
    font-size: 13px;
 }
 .rad{
    position: relative;
    bottom: 25px;

 }
 .rad input{
    margin-left: 22%;
    position: relative;
    right: 100px;
 }
 .rad input:after {
    content: '';
    position: absolute;
    left: 13px;
    top: 6px;
    height:2px;
    width: 300px;
    background-color:#c3bebe;
}
.rad input:last-child:after{
    content: none;
}
.minipara{
     text-align: center;
}
.minipara p{
    font-size: 12px;
     width: 35%;
     margin: -33px auto;
}
#secondcontainer{
    background-color: white;
    border:1px solid #bfb1b1;
    width: 33%;
    margin: 10px auto;
}
.top{
    display: flex;
}
.top img{
    position: relative;
    top: 12px;
    right: -10px;
}
.left ul li{
    font-size: 14px;
    color: gray;
    list-style-type: none;
    padding: 3px;
}
.left ul h4{
    color: #0d0d7e;
    position: relative;
    right: 10px;

}
.right ul li{
    font-weight: 500;
    font-size: 14px;
    list-style-type: none;
    position: relative;
    top: 30px;
    right: 35px;
    color: #060689;
}
.bottom{
    margin: 0px 0px 0px 15px;
    display: flex;
}
.bottom img{
    position: relative;
    top: 14px;
}
.left2 h4{
    color: #0d0d7e;
   position: relative;
    right: 10px;

}
.left2 li{
    font-size: 14px;
    list-style-type: none;
    color: gray;
}
.right2{
    font-weight: 500;
    font-size: 14px;
    list-style-type: none;
    position: relative;
    top: 26px;
    left: 20px;
    color:#060689;
}
.minicontainer p{
    border: 1px solid black;
}
.box {
    margin:0px auto;
    width: 44%;
    font-weight: bold;
    font-size: 15px;
    color: gray; 

}
.box {
    text-align: center;
    font-size: 13px;
    
}
.box a{
    color:#6986ef;
    opacity: 1;
}
.line{
    width: 60%;
    margin: 25px auto;
    border-bottom: 1px solid #cdc5c5;
}
.btn{
    width: 40%;
    margin: 0px 39%;

}
.btn button{
    text-align: center;
    background-color: white;
    border:1px solid  #23e13a;
    width: 22%;
    height: 35px;
}
.btn span button{
    color: white;
    background-color: #58d796;
    border-color: #23e13a;
    width: 27%;
    height: 35px;
}
footer{
    display: flex;
    text-align: center;
    justify-content: center;
    color: blue;
}
footer li{
    text-decoration: none;
} 













/*---------------------------------------
h4:before{
    content: '';
    position: relative;
    left: -15px;
    top: -1px;
    color: blue;
}








